<!DOCTYPE html>
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Admin Statistics</title>
	<link rel="icon" href="../static/images/logo.png">
	<meta name="viewport" content="width=device-width, initial-scale=1">


	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700,900' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700" rel="stylesheet">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="../static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="../static/css/superfish.css">
	<!-- Flexslider -->
	<link rel="stylesheet" href="../static/css/flexslider.css">

	<link rel="stylesheet" href="../static/css/style.css">	
	

	<!-- Modernizr JS -->
	<script src="../static/js/modernizr-2.6.2.min.js"></script>
	<script src='../static/js/Chart.min.js'></script>
	<style>
    .top {
	    position: relative;
		margin: 0;
		padding: 0;
		width: 100%;
	    background-color: #f4e542;
	    height: 75px;
	}

	.button{
		position: absolute;
	    color:#ffffff;
	    top: 25%;
	    left: 93%;
	    height: 50%;
	    width: 5%;
	    color: black;
	    border-radius: 8px;
	    border: none;
	}

	.bottoncino {
      background-color: #aaa;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
  	}


	</style>

</head>
<div class="bg">
  <body>
  	<div class="top">
  		
  		<center><h1>Admin Statistics</h1></center>
  		<form action="{{ url_for('logout') }}">
  			<button id="logout" class="button">Logout</button>
  		</form>
  		
  	</div>
  	<br></br>
  	<br></br>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">

				<center>
				<!-- bar chart canvas element -->
				<canvas id="myChart" width="1500px" height="650px"></canvas>
				
				<script>
			 
			Chart.defaults.global.responsive = false;
			 
			// define the chart data
			var chartData = {
			  labels : [{% for item in labelsusers %}
			             "{{item}}",
			            {% endfor %}],
			  datasets : [{
			      label: '{{ legendusers }}',
			      fill: true,
			      lineTension: 0.1,
			      backgroundColor: "#f4e542",
			      borderColor: "#f4e542",
			      borderCapStyle: 'butt',
			      borderDash: [],
			      borderDashOffset: 0.0,
			      borderJoinStyle: 'miter',
			      pointBorderColor: "rgba(75,192,192,1)",
			      pointBackgroundColor: "#fff",
			      pointBorderWidth: 1,
			      pointHoverRadius: 5,
			      pointHoverBackgroundColor: "rgba(75,192,192,1)",
			      pointHoverBorderColor: "rgba(220,220,220,1)",
			      pointHoverBorderWidth: 2,
			      pointRadius: 1,
			      pointHitRadius: 10,
			      data : [{% for item in valuesusers %}
			                {{item}},
			              {% endfor %}],
			      spanGaps: false
			  }]
			}
			 
			// get chart canvas
			var ctx = document.getElementById("myChart").getContext("2d");
			 
			// create the chart using the chart canvas
			var myChart = new Chart(ctx, {
			  type: 'bar',
			  data: chartData,
			  options: {
			  	scales: {
        			yAxes: [{
            			display: true,
            				ticks: {
            					stepSize: 1,
                				beginAtZero: true
						            }
						    }]
						}
						}
			});
			</script>
				</center>

	</div>

	</div>
	<br></br>
	<br></br>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">

				<center>
				<!-- bar chart canvas element -->
				<canvas id="myChart2" width="1500px" height="650px"></canvas>
				
				<script>
			 
			Chart.defaults.global.responsive = false;
			 
			// define the chart data
			var chartData = {
			  labels : [{% for item in labelslogins %}
			             "{{item}}",
			            {% endfor %}],
			  datasets : [{
			      label: '{{ legendlogins }}',
			      fill: true,
			      lineTension: 0.1,
			      backgroundColor: "#f49242",
			      borderColor: "#f49242",
			      borderCapStyle: 'butt',
			      borderDash: [],
			      borderDashOffset: 0.0,
			      borderJoinStyle: 'miter',
			      pointBorderColor: "rgba(75,192,192,1)",
			      pointBackgroundColor: "#fff",
			      pointBorderWidth: 1,
			      pointHoverRadius: 5,
			      pointHoverBackgroundColor: "rgba(75,192,192,1)",
			      pointHoverBorderColor: "rgba(220,220,220,1)",
			      pointHoverBorderWidth: 2,
			      pointRadius: 1,
			      pointHitRadius: 10,
			      data : [{% for item in valueslogins %}
			                {{item}},
			              {% endfor %}],
			      spanGaps: false
			  }]
			}
			 
			// get chart canvas
			var ctx = document.getElementById("myChart2").getContext("2d");
			 
			// create the chart using the chart canvas
			var myChart = new Chart(ctx, {
			  type: 'bar',
			  data: chartData,
			  options: {
			  	scales: {
        			yAxes: [{
            			display: true,
            				ticks: {
            					stepSize: 1,
                				beginAtZero: true
						            }
						    }]
						}
						}
			});

			</script>

	<br></br>
    <br></br>
    	<form action="{{ url_for('adminhome')}}">
    	<button type="submit" class="bottoncino">Back</button>
    </form>
	</center>

	</div>

	</div>



	</body>
</html>