{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
<style>
#customers {
    font-family: Arial;
    border-collapse: collapse;
    width: 80%;
    margin: 0 0;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){
  background-color: #f2f2f2;
}


#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: middle;
    background-color: #f4e542;
    color: white;
}

.bottoncino {
      background-color: #aaa;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
  }

* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    margin: 100px 0;
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

</style>

{% endblock %}
{% block top %}
Choose what to do
{% endblock %}
{% block content %}

<div class="row">
  <div class="column" style="background-color: white">
    <center>
    <form action="/addemployee" method = "post" class="form">
      <button type="submit" class="bottoncino">Add Employee</button>
    </form>
    <br></br>
    <form action="/addpractitioner" method = "post" class="form">
      <button type="submit" class="bottoncino">Add Practitioner</button>
    </form>
    </center>
  </div>
  <div class="column" style="background-color: white;">
    <center>
    <form action="/modifyemployee" method = "post" class="form">
      <button type="submit" class="bottoncino">Modify Employee</button>
    </form>
    <br></br>
    <form action="/modifypractitioner" method = "post" class="form">
      <button type="submit" class="bottoncino">Modify Practitioner</button>
    </form>
    </center>
  </div>
  <div class="column" style="background-color: white;">
    <center>
    <form action="/deleteemployee" method = "post" class="form">
      <button type="submit" class="bottoncino">Delete Employee</button>
    </form>
    <br></br>
    <form action="/deletepractitioner" method = "post" class="form">
      <button type="submit" class="bottoncino">Delete Practitioner</button>
    </form>
    </center>
  </div>
</div>
<center>
  <form action="/adminstatistics" method = "post" class="form">
    <button type="submit" class="bottoncino">Statistics</button>
  </form>
</center>



{% endblock %}