<!DOCTYPE html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- Animate.css -->
	<link rel="stylesheet" href="../static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="../static/css/superfish.css">
	<!-- Flexslider -->
	<link rel="stylesheet" href="../static/css/flexslider.css">

	<link rel="stylesheet" href="../static/css/style.css">	
	<style>
    .top {
	    position: relative;
		margin: 0;
		padding: 0;
		width: 100%;
	    background-color: #f4e542;
	    height: 75px;
	}

	.button{
		position: relative;
	    color:#ffffff;
	    text-align: center;
	    top: -38px;
	    left: 90%;
	    height: 30px;
	    width: 80px;
	    margin-right: 10%;
	    padding: 5px 5px;
	    color: black;
	    border-radius: 8px;
	    border: none;
	}


	</style>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
  </head>
  <div class="bg">
  <body>
  	<div class="top">
  		
  		<center><h1>{% block top %}{% endblock %}</h1></center>
  		<form action="{{ url_for('logout') }}">
  			<button id="logout" class="button">Logout</button>
  		</form>
  		
  	</div>
	<center><p>{% block error %}{% endblock %}</p></center>
    <div id="content">{% block content %}{% endblock %}</div>
  </body>
</div>
</html>