{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
<style>
  .bottoncino {
      background-color: #aaa;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
  }

  .center-div
  {
    margin: 150px auto;
    max-width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 3px;
  }
  .form_register_patient {
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     height: 60px;
     width: 500px;
     border: 2px solid black;
     border-radius: 4px;
     font-size: 20px;
  }
</style>
{% endblock %}
{% block top %}
Schedule a visit
{% endblock %}
{% block error %} {{ error }} {% endblock %}
{% block content %}
<center>
  <form id="choose_patient" action="/bookavisit" method="post" class="center-div" style="width: 500px" style="height: 20px">
        <input type="text" class="form_register_patient" placeholder="Fiscal Code" name=fiscalcode required="true">
        <br></br>

            Pick a Date:&emsp;
            <input id="date" name="date" style="background-color: white; border-color: #2C2D36"  type="date" />
            <div> &emsp;&emsp;</div>
            <div>&emsp;<br></div>
            <div>&emsp;<br></div>
            <div>&emsp;<br></div>
            <div>&emsp;<br></div>
            <div>&emsp;</div><div></div>
            <div>&emsp;</div>
            <div>&emsp;</div>
            <div>&emsp;</div>

            <h2>{{ success }}</h2>
            <button class="bottoncino" type="submit" value="form_choosepatient">Choose</button>
                        </form>
            <br></br> 
      <form action="{{ url_for('practitionerhome')}}">
        <button type="submit" class="bottoncino">Back</button>
      </form>
    <center>
      
    </center>

  </center>
{% endblock %}