{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
<style>
  .bottoncino {
      background-color: #aaa;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      <!-- margin: 4px 2px;-->
      <!-- margin-top: 50px; -->
      <!-- margin-bottom: 20%; -->
      cursor: pointer;
      border-radius: 8px;
  }

  .center-div
  {    margin: 45px auto;
    max-width: 700px;
    width: 90%;
    height: 500px;
    background-color: white;
    border-radius: 8px;
  }
  .deleteemployee_form {
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     height: 60px;
     width: 80%;
     border: 2px solid black;
     border-radius: 8px;
     font-size: 20px;
  }
</style>
{% endblock %}
{% block top %}
Delete Employee
{% endblock %}
{% block error %} {{ error }} {% endblock %}
{% block content %}
<center>
  <h3>{{ success }} </h3>
    <div class="center-div" align="center">
    <center>
      <form id="deleteemployee_form" action="/deleteemployee" method="post" class="center-div" style="width: 90%" style="height: 20px">
        <input type="text" class="deleteemployee_form" placeholder="Fiscal Code" name=fiscalcode required="true">
        <br></br>
        <button class="bottoncino" type="submit" value="deleteemployee_form">Delete Employee</button>
        <button type="submit" class="bottoncino">Back</button>
      </form>
    </center>
    </div>
  </center>
{% endblock %}