{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
<style>
#customers {
    font-family: Arial;
    border-collapse: collapse;
    width: 80%;
    margin: 0 0;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}


#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: middle;
    background-color: #f4e542;
    color: white;
}
.column {
    margin: 100px 0;
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.bottoncino {
      background-color: #aaa;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
  }

</style>

{% endblock %}
{% block top %}
Employee Homepage
{% endblock %}
{% block content %}

<center>
  <h3>{{ welcome }} </h3>

  <div class="row">
  <div class="column" style="background-color: white">
    <center>
        <table id="customers">
      <tr>
        <th>Booked Visit</th>
      </tr>
      <tr>
        <td><center>{{ bookedvisit }}</center></td>
      </tr>
      
    </table>
    </center>
  </div>
  <div class="column" style="background-color: white;">
    <center>
      <form action="/inhomeparameters" method = "post" class="form">
        <button type="submit" class="bottoncino">Insert Parameters</button>
      </form>
    </center>
  </div>
  <div class="column" style="background-color: white;">
    <center>
    <form action="#"> 
      <!-- statistics to be added -->
      <button type="submit" class="bottoncino">Statistics</button>
    </form>
    </center>
  </div>
</div>
</center> 



{% endblock %}