{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
<style>
  .bottoncino {
      background-color: #aaa;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
  }

  .center-div
  {
    margin: 150px auto;
    max-width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 3px;
  }
  .inhomeparameters_form {
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     height: 60px;
     width: 500px;
     border: 2px solid black;
     border-radius: 4px;
     font-size: 20px;
  }
</style>
{% endblock %}
{% block top %}
Add Parameters
{% endblock %}
{% block error %} {{ error }} {% endblock %}
{% block content %}

<center>
  <h3>{{ success }} </h3>
    <div class="center-div" align="center">
    <center>
      <form id="inhomeparameters_form" action="/inhomeparameters" method="post" class="center-div" style="width: 500px" style="height: 20px">
        <input type="text" class="inhomeparameters_form" placeholder="Fiscal Code" name=fiscalcode required="true">
        <br></br>
        <input type="text" class="inhomeparameters_form" placeholder="Height" name=height required="false">
        <br></br>
        <input type="text" class="inhomeparameters_form" placeholder="Weight" name=weight required="false">
        <br></br>
        <input type="text" class="inhomeparameters_form" placeholder="BMI" name=BMI required="false">
        <br></br>
        <input type="text" class="inhomeparameters_form" placeholder="Food Calories" name=foodcalories required="true">
        <br></br>
        <input type="text" class="inhomeparameters_form" placeholder="Hours of Physical Activity" name=hoursofactivity required="true">
        <br></br>
        <button class="bottoncino" type="submit" value="inhomeparameters_form">Add Parameters</button>
      </form> 
      <br></br>
      <br></br>
      <form action="{{ url_for('employeehome')}}">
        <button type="submit" class="bottoncino">Back</button>
      </form>
    </center>
    </div>
  </center>
{% endblock %}