<!DOCTYPE html>
<html>
	<head>
			<!-- Animate.css -->
	<link rel="stylesheet" href="../static/css/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="../static/css/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="../static/css/superfish.css">
	<!-- Flexslider -->
	<link rel="stylesheet" href="../static/css/flexslider.css">

	<link rel="stylesheet" href="../static/css/style.css">	
	<style>
	.button {
	    background-color: white;
	    border: none;
	    color: black;
	    padding: 15px 32px;
	    text-align: center;
	    text-decoration: none;
	    display: inline-block;
	    font-size: 16px;
	    margin: 4px 2px;
	    cursor: pointer;
	    border-radius: 8px;
	}

	.center-div
	{
	  margin: 0 auto;
	  max-width: 700px;
	  height: 500px;
	  background-color: #f4e542;
	  border-radius: 3px;
	}
	.form_login {
	   display: table-cell;
	   text-align: center;
	   vertical-align: middle;
	   height: 30px;
	   width: 300px;
	}
	</style>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Login</title>
	<link rel="icon" href="../static/images/logo.png">

	</head>
	<body>

	<br></br>
	
	<center>
		<div class="center-div" align="center">
		<br></br>
			<h1 color="Black">Welcome Back!</h1>
			<p> {{ error }} </p>
		<br></br>
	
		<center>
			<form id="login" action="/login" method="post" class="form_login" style="width: 500px" style="height: 20px">
				<input type="text" class="form_login" placeholder="Fiscal Code" name=fiscalcode>
			<br></br>
				<input type="password" class="form_login" placeholder="Password" name=password>
    		<br></br>
				<button class="button" type="submit" value="login">Log In</button>
			<br></br>
			<br></br>
			</form> 
		</center>
		</div>
	</center>

	</body>
</html>

