{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
{{ super() }}
<style>
#customers {
    font-family: Arial;
    border-collapse: collapse;
    width: 80%;
    margin: 0 0;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}


#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: middle;
    background-color: #f4e542;
    color: white;
}

.bottoncino {
      background-color: #aaa;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
  }

* {
    box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
    margin: 100px 0;
    float: left;
    width: 33.33%;
    padding: 10px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

</style>

{% endblock %}
{% block top %}
Practitioner Homepage
{% endblock %}
{% block content %}

<div class="row">
  <div class="column" style="background-color: white">
    <table id="customers">
      <tr>
        <th><center>Employees List</center></th>
        <th><center>Last Visit</center></th>
      </tr>
      {% for employee in employees_list %}
      <tr>
        <td><center>{{employee.name}} {{employee.surname}}</center></td>
        <td><center>{{employee.lastvisit}}</center></td>
      </tr>
      {% endfor %}
      
    </table>
  </div>
  <div class="column" style="background-color: white;">
    <center>
      <form action="/visitsoftheday" method = "post" class="form">
        <button type="submit" class="bottoncino">Visits of the day</button>
      </form>
    
    
    </center>
  </div>
  <div class="column" style="background-color: white;">
    <center>
    <form action="{{ url_for('bookavisit') }}">
      <button type="submit" class="bottoncino">Book a Visit</button>
    </form>
    </center>
  </div>
</div>


<div class="row">
  <div class="column" style="background-color: white">
  </div>
  <div class="column" style="background-color: white;">
    <center>
      <form action="{{ url_for('atworkparameters') }}">
      <button type="submit" class="bottoncino">Insert Parameters</button>
    </form>
    </center>
  </div>
  <div class="column" style="background-color: white;">
    <center>
    <form action="#"> 
      <!-- statistics to be added -->
      <button type="submit" class="bottoncino">Statistics</button>
    </form>
    </center>
  </div>
</div>

{% endblock %}