{% extends "base.html" %}
{% block title %}{% endblock %}
{% block head %}
{{ super() }}
<style>
  .bottoncino {
      background-color: #aaa;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      border-radius: 8px;
  }

  .center-div
  {
    margin: 150px auto;
    max-width: 700px;
    height: 500px;
    background-color: white;
    border-radius: 3px;
  }
  .form_register_patient {
     display: table-cell;
     text-align: center;
     vertical-align: middle;
     height: 60px;
     width: 500px;
     border: 2px solid black;
     border-radius: 4px;
     font-size: 20px;
  }
</style>
{% endblock %}
{% block top %}
Registra Paziente
{% endblock %}
{% block error %} {{ error }} {% endblock %}
{% block content %}
<center>
    <div class="center-div" align="center">
    <center>
      <form id="form_register_patient" action="/register_patient" method="post" class="center-div" style="width: 500px" style="height: 20px">
        <input type="email" class="form_register_patient" placeholder="Email" name=email required="true">
        <br></br>
        <input type="text" class="form_register_patient" placeholder="Nome" name=name required="true">
        <br></br>
        <input type="text" class="form_register_patient" placeholder="Cognome" name=surname required="true">
        <br></br>
        <input type="text" class="form_register_patient" placeholder="Codice Fiscale" name=codicefiscale required="true">
        <br></br>
        <input type="text" class="form_register_patient" placeholder="Telefono" name=telephonenumber>
        <br></br>
        <button class="bottoncino" type="submit" value="form_register_patient">Registra</button>
        <br></br>
        <br></br>
      </form> 
      <form action="{{ url_for('medicianhome', selectedpatient = 'home') }}">
        <button type="submit" class="bottoncino">Indietro</button>
      </form>
    </center>
    </div>
  </center>
{% endblock %}